In [44]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["x", "y", "z"])

In [29]:
df.head() # Characters on the left are the indexes, and characters at the top are columns

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [30]:
df.tail(2)

   A  B  C
y  4  5  6
z  7  8  9

In [31]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [32]:
print(df.index)
print(df.index.tolist())

Index(['x', 'y', 'z'], dtype='object')
['x', 'y', 'z']

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [45]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [46]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [47]:
df['A'].nunique()

3

In [50]:
df.shape # (number of rows, number of columns)

(3, 3)

In [51]:
df.size

9