In [4]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["x", "y", "z"])

In [6]:
df.head() # Characters on the left are the indexes, and characters at the top are columns

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [8]:
df.tail(2)

   A  B  C
y  4  5  6
z  7  8  9

In [9]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [10]:
print(df.index)
print(df.index.tolist())

Index(['x', 'y', 'z'], dtype='object')
['x', 'y', 'z']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

df.describe()

In [8]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [9]:
df['A'].nunique()

3

In [10]:
df.shape # (number of rows, number of columns)

(3, 3)

In [11]:
df.size

9

## Loading Dataframes

In [11]:
coffee = pd.read_csv('./complete-pandas-tutorial/warmup-data/coffee.csv')
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [14]:
results = pd.read_parquet('./complete-pandas-tutorial/data/results.parquet')
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None